* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #0f0f0f, #1c1c1c);
    color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 95%;
    max-width: 800px;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
}

.cruzamento-layout {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.semaforo-container {
    background: #1b1b1b;
    width: 100px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #505050;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.semaforo-container h3 {
    font-size: 10px;
    color: #ffffff;
    text-transform: uppercase;
}

.luz {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #222;
    transition: 0.3s;
}


.vermelho { background: #ff2e2e; box-shadow: 0 0 15px #ff2e2e; }
.amarelo { background: #ffcc00; box-shadow: 0 0 15px #ffcc00; }
.verde { background: #00d26a; box-shadow: 0 0 15px #00d26a; }

@keyframes piscar {
    0%, 49% { opacity: 1; }
    50%, 100% { opacity: 0.2; }
}

.amarelo-piscar {
    animation: piscar 0.6s infinite;
}

.botoes-container {
    background: #1b1b1b;
    border: 2px solid #505050;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
}

.botoes-container h2 {
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.botoes-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.btn {
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.btn:active {
    transform: translateY(0);
}

.btn-chuva {
    background: #1ec7ff4d;
    color: rgb(255, 255, 255);
}

.btn-chuva:hover {
    background: #1ec7ff4d;
}

.btn-fluxo {
    background: #01471cfd;
    color: white;
}

.btn-fluxo:hover {
    background: #dd5a2f;
}

.btn-sensor {
    background: #d32f2f;
    color: white;
}

.btn-sensor:hover {
    background: #b71c1c;
}

.btn-reset {
    background: #ffb2f281;
    color: white;
}

.btn-reset:hover {
    background: #ffc1f5fd;
}

.status-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.card {
    background: #222;
    padding: 10px;
    border-radius: 8px;
    border-left: 4px solid #00d26a;
}

.logs {
    background: #000;
    margin-top: 20px;
    padding: 15px;
    height: 120px;
    overflow-y: auto;
    font-family: monospace;
    color: #00ff00;
    border-radius: 5px;
}